.hero-container-fullwidth {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
}

.hero-banner {
    background-image: url("/static/logo/Logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
}


.hero-banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-banner > div {
    position: relative;
    z-index: 1;
}
