<div class="text-center my-4">
    <h4 class="fw-bold">PROMEDIO DE RESEÑAS DE:</h4>

    <div class="btn-group mt-3" role="group">
        <button class="btn btn-outline-primary filtro-btn" data-filtro="ultimo_evento">Últ. Evento</button>
        <button class="btn btn-outline-primary filtro-btn" data-filtro="ultimos_3">Últ. 3 Eventos</button>
        <button class="btn btn-outline-primary filtro-btn" data-filtro="ultima_semana">Últ. Semana</button>
        <button class="btn btn-outline-primary filtro-btn" data-filtro="mes">Mes</button>
        <button class="btn btn-outline-primary filtro-btn" data-filtro="anio">Año</button>
    </div>
</div>
